[submodule "Control_in_HRI"]
	path = Control_in_HRI
	url = https://github.com/JesseDolfin/Control_in_HRI.git
[submodule "qb_hand/src/qbdevice-ros"]
	path = qb_hand/src/qbdevice-ros
	url = https://bitbucket.org/qbrobotics/qbdevice-ros.git
