<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include main robot URDF using package-relative path -->
  <xacro:include filename="$(find cor_tud_controllers)/urdf/iiwa7.urdf.xacro"/>

  <!-- Include hand URDF using package-relative path -->
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.urdf.xacro"/>

  <!-- Define connections between hand and arm -->
  <joint name="arm_to_hand_joint" type="fixed">
    <parent link="${robot_name}_link_ee"/> <!-- Parent is the arm's end effector link -->
    <child link="root_link"/> <!-- Child is the root link of the hand -->
    <origin xyz="0 0 0.05" rpy="0 0 0"/> <!-- Adjust the origin as needed -->
  </joint>

</robot>
